.git
.github
vendor
node_modules

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
!storage/**/.gitignore

.env
.env.*
!.env.example

tests
.phpunit.cache
.phpunit.result.cache

docker-compose*.yml

.idea
.vscode
.DS_Store

public/hot
public/storage
